In [1]:
import csv

In [2]:
a=['sid','sname','city','contact']

In [5]:
records=[[1,'parrth','surat',9873215754],
         [2,'dhrumin','mahuva',9487521889],
         [3,'sunil','valod',3547985476],
         [4,'jenil','bardoli',6875489675],
         [5,'meet','baroda',9548759642]]
p=[]

In [6]:
for i in range(5):
    sid=int(input("enter student id:"))
    sname=input("enter student name:")
    city=input("enter student city:")
    contact=int(input("enter student contact number:"))
    l=[sid,sname,city,contact]
    p.append(l)

enter student id:6
enter student name:om
enter student city:bardoli
enter student contact number:6854796587
enter student id:7
enter student name:sai
enter student city:surat
enter student contact number:6954658759
enter student id:8
enter student name:ram
enter student city:mahuva
enter student contact number:9854769854
enter student id:9
enter student name:kishan
enter student city:valod
enter student contact number:9854457898
enter student id:10
enter student name:radha
enter student city:surat
enter student contact number:9876658712

In [7]:
with open('C:\sqlite3\student.csv','w',newline='') as f:
    file=csv.writer(f)
    file.writerow(a)
    file.writerows(records)
    file.writerows(p)

In [8]:
with open('C:\sqlite3\student.csv','r',newline='') as read:
    all_record=csv.reader(read)
    for records in all_record:
        print(records)

['sid', 'sname', 'city', 'contact']
['1', 'parrth', 'surat', '9873215754']
['2', 'dhrumin', 'mahuva', '9487521889']
['3', 'sunil', 'valod', '3547985476']
['4', 'jenil', 'bardoli', '6875489675']
['5', 'meet', 'baroda', '9548759642']
['6', 'om', 'bardoli', '6854796587']
['7', 'sai', 'surat', '6954658759']
['8', 'ram', 'mahuva', '9854769854']
['9', 'kishan', 'valod', '9854457898']
['10', 'radha', 'surat', '9876658712']